#back-top {
    position: fixed;
    bottom: 8em;
    margin-left: 66em;
}

#back-top a {
    width: 54px;
    height: 54px;
    display: block;
    background: #ccc no-repeat center center;
    /* background-color: #ccc; */
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#back-top a:hover {
    background-color: #aaa;
}

.icon-2x {
    font-size: 2em;
}

#back-top a:visited {
    color: #fff
}

#back-top i {
    line-height: 1.5em;
    text-align: center;
    width: 1.5em;
}